# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Enviroment
.venv/
.env

# App config
config.*

# Database and app storage
*.sqlite3
*.sqlite
*.db


# Development files and tools
dev/

